* {
  box-sizing: border-box;
}
/* body { padding-top: 70px; } */

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
  background-color: rgb(217, 219, 218);
}

/* Main Image */
.header {
  width: 100%;
  height: 200px;
  background-image: url(./header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin-top: 25%;
}

/* Nav Bar */
.home-icon {
  width: 30px;
  height: 40px;
  padding-bottom: 10px;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid black;
}

.nav-item {
  font-size: 30px;
}

.btn {
  margin-bottom: 10px;
  background-color: #17a2b894;
}


/* SignUp */
.signup-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  border: 3px solid red;
}

.first-line {
  display: flex;
}

.password-input {
  display: flex;
}




.navbar-brand {
  font-size: 1.7em;
}

.nav-bar {
  margin-bottom: 0;
}

.main-nav-gear {
  margin-bottom: 0;
}

/* Header for Category */
.headline {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

/* GEAR CHECKLIST DESIGN */
.big-ten {
  background-image: url(https://images.unsplash.com/photo-1485809052957-5113b0ff51af?ixlib=rb-0.3.5&s=34b8c58599a2d67f3a41d74f3bffc31d&auto=format&fit=crop&w=1533&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.three-season {
  background-image: url(https://images.unsplash.com/photo-1487730116645-74489c95b41b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aa6e65fcad07b9a68420c430034f84f2&auto=format&fit=crop&w=700&q=60);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.winter {
  background-image: url(https://images.unsplash.com/photo-1455496231601-e6195da1f841?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4d1156d3e4dfafbc71a9f293939f3243&auto=format&fit=crop&w=2190&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.desert {
  background-image: url(https://images.unsplash.com/photo-1501004745788-4f4cb08ba8bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=efb4245a7026676fbed5280a27faa597&auto=format&fit=crop&w=700&q=60);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card {
  margin-bottom: 10px;
  border: 5px white solid;
}

.card-title,
.card-text {
  background-color: white;
  border: 1px solid black;
}

.card-text {
  width: 40%;
  margin-left: 30%;
}

/* HOME PAGE BODY */
.Home-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-holder {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  /* background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=954560871844da528c60343dc344ccbf&auto=format&fit=crop&w=1950&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}
.main-content {
  border-radius: 15px 50px;
  border: 1px black solid;
  width: 75%;
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffffe3;
  color: black;
}

.main-content a:visited {
  color: black;
}

.gear-checklist {
  background-image: url(https://s3.envato.com/files/203326520/Camping%20Vector%20Line%20Icons%20preview.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}

.my-gear-inventory {
  background-image: url(https://images.unsplash.com/photo-1490604001847-b712b0c2f967?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a199707ec57afbaddcc9a3887f2161ab&auto=format&fit=crop&w=2280&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.build-a-pack {
  background-image: url(https://us.123rf.com/450wm/lenm/lenm1603/lenm160300130/55303988-illustration-of-colorful-camping-backpacks.jpg?ver=6);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
}
/* MY GEAR PAGE STYLES */

.new-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: red 1px solid; */
  width: 100%;
  background-color: rgb(163, 201, 206);
  color: white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 15px 50px;
  /* font-size: 4em; */
}

.gear-form {
  font-size: 1.75em;
}
.gear-form-btn {
  font-size: 3.5rem;
}

.hit-it {
  border-radius: 15px;
  margin-right: 10px;
}

.my-gear-pg {
  /* border: 2px green solid; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: white; */
}

.my-gear-pg p {
  font-size: 1em;
  font-weight: 900;
}

#my-gear-main-p {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2;
}

.my-gear-head {
  font-size: 5rem;
  font-weight: bold;
  text-decoration: underline;
}

.gear-container p {
  /* border: 1px solid hotpink; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.my-gear-card {
  width: 100%;
  border: 3px solid rgb(163, 201, 206);
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 10px;
  font-weight: bold;
  background-color: white;
}

.my-gear-card:active {
  background-color: #35babc;
}

.my-gear-card h4,
h5 {
  font-size: 2.25em;
}

.gear-img {
  width: 50%;
  margin: 10px auto;
}

.trash-it {
  color: red;
}

/* BUILD A PACK STYLES */
#pick-it {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.sub-category {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#buildapack-data {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* GEAR FORM */
.gear-form {
  background-color: rgb(163, 201, 206);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*WEIGHT  Comoponent */
.weight-div {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

/* .total-weight {
  background-color: rgb(163, 201, 206);
  border: 3px white solid;
  border-radius: 50px 20px;
  font-size: 1.5rem;
  padding: 0 3%;
  width: 50%;
} */

.weight-number {
  color: black;
  font-weight: bold;
}
.weight-btn {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 24px;
  color: white;
  border: 1px solid rgb(69, 109, 160);
  font-size: 2.6rem;
}
.see-your-pack-btn {
  font-size: 2.6rem;
}
.modal-container {
  position: relative;
}
.modal-container .modal,
.modal-container .modal-backdrop {
  position: absolute;
}

/* BUILD A PACK */
.Intro-BAP {
  background-color: white;
  margin-top: 20px;
  border-radius: 50px;
}
.Intro-BAP p {
  font-size: 2.5rem;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
  line-height: 2;
}

.pick-it-category {
  text-decoration: underline;
  font-size: 5rem;
}

.big-4 {
  color: white;
  background-color: rgb(69, 109, 160);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  font-size: 4rem;
  border: 1px solid white;
  margin-bottom: 30px;
}

.big-4 a,
a:visited {
  color: white;
}

.Intro-BAP-2 {
  background-color: white;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 2.5rem;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
}

/* **************** MEDIA QUERIES ******************************** */
/* IPAD */
@media only screen and (min-width: 768px) {
  .header {
    height: 300px;
    margin-top: 15%;
  }
  .card {
    margin-bottom: 20px;
  }
  .hikes-holder {
    width: 80%;
  }
  .my-gear-card {
    width: 40%;
  }
  .my-gear-pg p {
    font-size: 0.7em;
  }

  .main-content {
    width: 45%;
  }
}
/* LAPTOP */
@media only screen and (min-width: 1024px) {
  .header {
    height: 400px;
    margin-top: 10%;
  }

  .my-gear-card {
    width: 35%;
  }
}
